---
repos:
  - repo: local
    hooks:
      - id: versionMgmt
        name: Increment the version number
        entry: ./scripts/update_version
        language: system
        pass_filenames: false
      - id: wikiDocGen
        name: Generate wiki docs
        entry: ./scripts/generate_plugin_docs.py
        language: system
        pass_filenames: false
      - id: wikiDocCheck
        name: Check wiki docs coverage
        entry: python scripts/check_plugin_docs.py
        language: system
        pass_filenames: false
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.14.14"
    hooks:
      # Run the linter.
      - id: ruff-check
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-yaml
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix', '--no-sort-keys']
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        files: ^pyprland/
        args: [--max-line-length=140]
  - repo: https://github.com/lovesegfault/beautysh
    rev: "v6.4.2"
    hooks:
      - id: beautysh
  - repo: https://github.com/adrienverge/yamllint
    rev: "v1.38.0"
    hooks:
      - id: yamllint

  - repo: local
    hooks:
      - id: runtests
        name: Run pytest
        entry: uv run pytest tests
        pass_filenames: false
        language: system
        stages: [pre-push]

#        types: [python]
#        pass_filenames: false
