---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.6.0"
    hooks:
      - id: check-yaml
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix', '--no-sort-keys']
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.4.4"
    hooks:
      # Run the linter.
      - id: ruff
        args: ['--fix']
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/lovesegfault/beautysh
    rev: "v6.2.1"
    hooks:
      - id: beautysh
  - repo: https://github.com/adrienverge/yamllint
    rev: "v1.35.1"
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      - id: versionMgmt
        name: versionMgmt
        entry: ./scripts/update_version
        language: system
#        types: [python]
#        pass_filenames: false
