---
name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: "3.11"
            tox-envs: "py311-unit"
          - python-version: "3.12"
            tox-envs: "py312-unit"
          - python-version: "3.13"
            tox-envs: "py313-unit"
          - python-version: "3.14"
            tox-envs: "py314-unit"
          - python-version: "3.14"
            tox-envs: "py314-wiki"
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Finish environment setup
        run: |
          mkdir ~/.config/hypr/
          touch ~/.config/hypr/pyprland.toml

          python -m pip install --upgrade pip
          pip install tox

      - name: Run tests (tox)
        run: |
          tox run -e ${{ matrix.tox-envs }}
